h1 {
    color: #eae;
}

body {
    font-family: arial;
    font-size: 22px;
    text-align: left;
    color: #fff;
}

.note {
    color: #666;
}

.de {
    background-color: #400;
    padding: 10px;
}

.en {
    background-color: #fff;
    color: #000;
    padding: 10px;
}